img{
    width:20%;
    object-fit: contain;
   
;}
ul{
    display:flex;
    list-style-type: none;
}
.navbar{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content:space-around ;
    box-shadow: 1px 5px 5px  rgb(217, 208, 208);
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* background-color: #333; */
        color: black;
        padding: 10px;
        z-index: 1000;
 
    
}
 body{ 
   
display: flex;
justify-content: center;
}
li{
    padding:1px 15px;
}